/* ----cart items */
/* .cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse:collapse;
}

.cart-info{
    direction: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding:5px;
    color:#fff;
    background: #ff346f;
    font-weight: normal;
}
td{
    padding: 1
} */

.cart{
    position:fixed;
    top: 0;
    right:0;
    width:360px;
    min-height:100vh;
    padding:20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% /10%);
}
