.main{
    position:relative;
    width: 100%;
    min-height: 90vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.2),rgba(4,9,30,0.2)),url(/images/home/login.jpeg);
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
  }
  .section-main{
    min-height: 90vh;
    width: 100%;
    background: rgba(4, 9, 30, 0.4);
    background-position:center;
    background-size:cover;
    position:relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
  }
  
  .section-main img{
    position: absolute;
    z-index: -5;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
  }

.account-page{
    padding:50px 0;
}

.form-container{
    background: #fff;
    width:300px;
    height:450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding:0 10px;
    color:#555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-button{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top:80px;
    transition: transform 1s;
    width: 100%;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}


form .button,.logout-button{
    width: 100%;
    border:none;
    cursor:pointer;
    padding: 2px 1px;
    margin: 10px 0;
    display: inline-block;
    background: #ff253b;
    color:#fff;
    border-radius: 30px;
    font-size: 15px;
}

form .button:hover,.logout-button:hover{
    background: #02171d;
}

form .button:focus,.logout-button:focus{
    outline:none;
}

#LoginForm{
    left:-300px;
}

#RegForm{
    left:0;
}

form a{
    font-size: 12px;
}

#Indicator{
    width:100px;
    border: none;
    background: #ff253b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(105px);
    transition: transform 1s;
}

.form-control{
    align-items: center;
    width: 100%;
}

.box{
    padding: 0 20px;
    position: absolute;
    top:100px;
    text-align: left;
    width: 100%;
}

#registerlottie{
    width: 80px; 
    height: 80px;
    position: relative;
    left:90px;
    /* display: none; */
}

#loginlottie{
    width: 200px; 
    height: 200px;
    position: absolute;
    top:180px;
    left:50px;
}

.hide{
    display:none;
}

.log-out.form-container{
    width:250px;
    height:250px;
  }

.bx{
  position: relative;
  
}

.eye{
  position: absolute;
  right:-5px;
  top:65px;
}

.password{
  position: absolute;
  right:-5px;
  top:115px;
}

.confirm{
  position: absolute;
  right:-5px;
  top:165px;
}

.hide{
  display: none;
}

label{
  align-items: left;
}


@media(max-width:800px){
    .section-main{
        min-height:50vh;
      }
      .form-container{
        width:250px;
        height:390px;
      }
      .log-out.form-container{
        width:200px;
        height:250px;
      }
      .form-button span{
        font-size: 15px;
      }

      .checkbox label{
        font-size: 17px;
      }

      #registerlottie{
        width: 50px;
        height: 50px;
        left:75px;
    }
    #loginlottie{
        width: 200px; 
        height: 200px;
        position: absolute;
        top:150px;
        left:50px;
    }
      .form-container form{
        top: 70px;
      }
      .log-out.form-container .box{
        top: 65px;
      }
      /* .form-container{
        padding:15px;
      } */
}  