
/*Products*/
* {
    box-sizing: border-box;
  }
  .row{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .column {
    /* float: left; */
    /* width: 23%; */
    padding: 10px;
    min-width:200px;
    flex-basis:20%;
    margin-bottom: 50px;
  }
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* mobile version */
  @media (max-width: 1000px) {
    .column {
    width:100%;
    font-size: 20px;
    -ms-flex: 50%;
    flex:50%;
    }
    .column img{
      height:auto;
      width: 100%;
    }
  }
 
  h2 {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-size: 180%;
    }
    h2::after{
        content:'';
        background-color: #ff523b;
        width:300px;
        height:5px;
        border-radius:5px;
        position:absolute;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
    }
    h4{
        color: #555;
        font-weight:normal;
    }
    .column p{
       font-size: 17px; 
    }

    .rating .fa{
        color: #df422d;   
    }
/* Add to  cart button */
    button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    button:hover {
      opacity: 0.7;
    }

    /* *{
        background-color: black;
    } */

.newtable{
  width: 100%;
}

.newtable td img{
  height:300px;
}

.newtable td{
  padding:0px;
  text-align: center;
}

.details{
  height:170px;
  vertical-align: top;
}

html{
  scroll-behavior: smooth;
}



