#progress{
    position: fixed;
    top: 10px;
    left: 10px;
    height:60px;
    width:60px;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
    background: lightblue;
}
/* #progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color:#001a2e;
} */

#progress-value{
    position: fixed;
    top: 7px;
    left: 20px;
    font-size: 45px;
}